@import"./mixins";
@import"./variables";

.header-top {
    line-height: 50px;
    height: 100%;
    background: linear-gradient(to bottom, $color-header-footer 29%, transparent 29%);
}

.nav-header {
    display: $display-flex;

    a {
        text-decoration: none;
        color: $color-text;
        font-size: $font-size-menu;
        text-transform: uppercase;
        display: block;
        @extend %line-after-hidden;
        
        &:hover{
            &::after {
                content: "";
                position: absolute;
                width: 126%;
                background-color: $color-line-li;
                height: 3px;
                bottom: -1px;
                left: -9px;
                display: block;
            }
        }

    }

    li {
        margin: 0px 17px;
        position: relative;

        &:first-child {
            margin-left: 0px;
        }
    }

    @extend %line-after-block
}

%line-after-hidden {
    &::after {
        content: "";
        position: absolute;
        width: 126%;
        background-color: #ffc925;
        height: 3px;
        bottom: -1px;
        left: -9px;
        display: none;
    }
}

%line-after-block {
    .h-line {
        &::after {
            content: "";
            position: absolute;
            width: 126%;
            background-color: $color-line-li;
            height: 3px;
            bottom: -1px;
            left: -9px;
            display: block;
        }
    }
}

.logo {
    display: $display-flex;
    a{
        display: flex;
        
    }
}

.entrance {
    height: 99%;
    width: 100%;
    display: $display-flex;
    justify-content: flex-end;

    .entrance-button {
        height: 103%;
        width: 125px;
        outline: none;
        border: none;
        font-size: 11px;
        text-transform: uppercase;
        color: $text-buttons-color;
        background-image: url(images/entrace-icon.png);
        background-repeat: no-repeat;
        background-position: center left 37px;
        text-indent: 31px;
        background-color: $color-buttons;
        cursor: pointer;
        &:hover{
            background-color:#d67505;
        }
    }
}

.header-height {
    height: 125px;
    align-items: center;
}

.call-back {
    form{
        display: flex;
    }
    input {
        height: 50px;
        background-color: $inputs-color;
        border: none;
        text-indent: 17px;
        outline: none;
        width: 209px;
        font-weight: 800;
        width: 202px;

    }

    ::-webkit-input-placeholder {
        color: $color-black;
    }

    :-moz-placeholder {
        color: $color-black;
    }

    ::-moz-placeholder {
        color: $color-black;
    }

    :-ms-input-placeholder {
        color: $color-black;
    }

    .button-call-back {

        width: 197px;
        background-color: $color-buttons;
        text-indent: 0px;
        font-size: $font-size-menu;
        font-weight: 100;
        color: $text-buttons-color;
        text-transform: uppercase;
        background-image: url(images/icon-phone.png);
        background-repeat: no-repeat;
        text-indent: 10px;
        background-position: center left 25px;
        cursor: pointer;
        
        &:hover{
            background-color:#d67505;
        }
    }
}

.header-actions {
    display: $display-flex;

    .header-actions-item {
        margin: 0px 25px;
    }

    .text-header-actions {
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 5px;
    }

    .left {
        margin-left: 10px;
        margin-top: 3.5px;
    }
}

.button-header-action {
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
.header-actions-button-container{
    margin: 3px -1px;
}

.line {
    color: #e4e4e4;
    background-color: #e4e4e4;
    height: 60px;
    outline: none;
    border: 1px solid #e4e4e4;
}

.count-cart {
    position: relative;

    img {
        position: absolute;
        left: 14px;
        top: -24px;
    }

    .counter-prod {
        position: absolute;
        left: 28px;
        bottom: 9px;
        color: $text-buttons-color;
        font-size: 11px;
    }
}

.top-nav {
    
    li {
        position: relative;
        width: 325px;
        height: 56px;
        border: 1px solid $color-border;
        display: block;
        border-bottom: none;
        text-indent: 40px;
        display: flex;
        align-items: center;
        &:hover{
            background-color:#e9e4dec5;
        }
        &:nth-child(2){
            height: 65px;
            a{
                margin-top: 19px;
            }
        }

        &:last-child {
            border: 1px solid $color-border;
        }

        &:first-child {
            width: 264px;
            height: 56px;
            background-image:linear-gradient(to right, #ff8600, #ff9000, #ff9a00, #ffa400, #ffad00);;
            color: #ffffff;
            margin-left: 61px;
            font-size: 20px;
            border: none;
            text-indent: 20px;


            &::first-letter {
                text-transform: uppercase;
            }
        }

        a {
            position: relative;
            width: 100%;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            color: $color-black;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            height: 100%;

            &::after {
                content: url(images/arr.png);
                position: absolute;
                background-repeat: no-repeat;
                background-position: center;
                color: #ffffff;
                margin-left: 243px;

            }
        }

        .burger {
            height: 56px;
            width: 61px;
            background-color: #db7200;
            position: absolute;
            bottom: 0px;
            left: -61px;


            .burger-el {
                display: block;
                width: 15px;
                height: 15px;
                position: relative;
                margin: 0 auto;
                margin-top: 20px;
                cursor: pointer;


                span {
                    height: 2px;
                    background-color: #ffffff;
                    position: absolute;
                    left: 0;
                    right: 0;

                    &:first-child {
                        top: 2px;
                        width: 60%;
                    }

                    &:nth-child(2) {
                        top: 6px;
                    }

                    &:nth-child(3) {
                        width: 40%;
                        bottom: 3px;
                    }
                }
            }

        }
    }
}

.search-block {
    height: 56px;
    display: $display-flex;
    flex-direction: row;

    form {
        width: 100%;
        display: $display-flex;

        input {
            width: 70%;
            background-color: $inputs-color;
            border: none;
            outline: none;
            text-indent: 34px;
            font-size: 14px;
        }
        
    }

    ul {
        position: relative;
        width: 150px;
        background-color: $inputs-color;
        cursor: pointer;

        &:hover{
            background-color: rgba(85, 85, 83, 0.294);
        }

        &::before {
            content: url(images/arrow.png);
            color: $inputs-color;
            position: absolute;
            background-repeat: no-repeat;
            top: 18px;
            left: 115px;
            cursor: pointer;
        }

        li {
            height: 100%;
            line-height: 37px;
            &::before {
                content: "";
                background-color: #dadada;
                height: 40px;
                width: 1px;
                position: absolute;
                top: 9px;
                
            }
            select{
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                background-color: inherit;
                -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-indent: 10px;
            font-size: 14px;
            color: #616161;
            cursor: pointer;
            }


            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
    button {
        width: 167px;
        height: 100%;
        border: none;
        outline: none;
        background-color: $color-buttons;
        text-align: center;
        line-height: 58px;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        &:hover{
            background-color:#d67505;
        }
    }
}


.link-products-categories {
    margin-top: 20px;
    display: flex;
    line-height: 75px;
    background-color: #606a76;

    a {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        margin: 0px 28px;
        flex-direction: row-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:hover{
            &::after {
                content: "";
                position: absolute;
                width: 126%;
                background-color: $color-line-li;
                height: 3px;
                bottom: -1px;
                left: -9px;
                display: block;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 126%;
            background-color: $color-line-li;
            height: 3px;
            bottom: -1px;
            left: -9px;
            display: none;
        }

        img {
            margin: 0px 15px;
        }
    }

    .h-line {
        &::after {
            content: "";
            position: absolute;
            width: 126%;
            background-color: $color-line-li;
            height: 3px;
            bottom: -1px;
            left: -9px;
            display: block;
        }
    }
}
.block-filter{
    background-color: #696969;
    .block-tabs{
        display: $display-flex;
        width: 283px;
        height: 46px;
        margin-top: 25px;
        margin-left: 37px;
        margin-bottom: 23px;
        background-color: #efefef;
        padding: 3px;
        .tab{
            width: 50%;
            text-align: center;
            line-height: 42px;
            cursor: pointer;
        }
    
    }
    // .second-tab{
    //   // background-color: $color-buttons;
    //    //color: #ffffff;
    // }
    // .first-tab{
    //     // color: #9f9f9f;
    // }
}
.search-line{
    height: 50px;
    width: 1px;
}
.tab-active{
    background-color: $color-buttons;
    color: #ffffff;
}
.block-select{
    .list-select{
        display: $display-flex;
        justify-content: center;
        margin-bottom: 23px;
        select{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            text-indent: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: 14px;
            color: #9c9c9c;
            cursor: pointer;      
        }
    }

    li{
        position: relative;
        width: 223px;
        height: 43px;
        line-height: 43px;
        background-color: #ffffff;
        color: #9c9c9c;
        margin: 0px 9px;
        cursor: pointer;
        &::before {
            content: url(images/select-icon.png);
            color: #696969;;
            position: absolute;
            background-repeat: no-repeat;
            top: 0px;
            left: 200px;
        }
    }
}
.input-price{
    &:last-child{
        background-color: inherit;
        .submit-select{
            height: 100%;
            border: none;
            outline: none;
            background: inherit;
            position: relative;
            right: -2px;
            color: #ffffff;
            font-size: 14px;
        }
        .num-select{
            position: relative;
            width: 75px;
            height: 100%;
            margin-left: 15px;
            outline: none;
            border: none;
            text-align: center;
            cursor: pointer;
        }
        &::before {
            content: "";
            color: #696969;;
            position: absolute;
            background-repeat: no-repeat;
            top: 0px;
            left: 188px;
        }
    }

}
.buttons-form{
    width: 946px;
    margin: 0 auto;
    display:$display-flex;
    justify-content: space-between;
    margin-bottom: 27px;
    button{
        width: 212px;
        height: 50px;
        
    }
    .clear-filter{
        background-color: #ff4800;
        border: none;
        outline: none;
        cursor: pointer;
        background-image: url(images/clear-form-icon.png);
        background-position: 37px center;
        background-repeat: no-repeat;
        color: #ffffff;
        text-indent: 10px;
        font-size: 14px;
        &:hover{
            background-color:rgba($color: #c714143d, $alpha: 0.5);
        }
    }
    .apply-filter{
        text-transform: uppercase;
        color: #ffffff;
        background: linear-gradient(90deg, rgba(255,134,0,1) 0%, rgba(255,173,0,1) 100%);
        border: none;
        outline: none;
        cursor: pointer;
        &:hover{
            background: linear-gradient(90deg, rgba(255,134,0,1) 0%, rgba(255,111,0,0.9836309523809523) 100%);
        }
    }

}


