@import"./mixins";
@import"./variables";
@import"./header.scss";
* {

	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    display: $display-flex;
}
.container{
    width: 1360px;
    margin: 0 auto;
}
