@import"./mixins";
@import"./variables";
@import"./header.scss";
@import"./footer.scss";
* {
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    display: $display-flex;
}
.container{
    width: 1360px;
    margin: 0 auto;
}
.product-top{
    display:$display-flex;
    justify-content: space-between;
    height: 80px;
    .product-cards{
        line-height: 80px;
        font-size: 35px;
    }
    .link-to-catalog{
        line-height: 80px;
        a{
            color: #000000;
            font-weight: 600;
            position: relative;
            right: 12px;
            img{
                margin-bottom: 3px;
            }
        }
        .arr-to-catalog{
            position: relative;
            left: 0px;
            top: -3px;
            
        }
        .first-el-to-catalog{
            position: relative;
            left: 4px;
            top: -4px;
            
            
        }
    }
}
.border-prod{
    border-top: 1px solid  $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    &:last-child{
        border-right: none;  
    }
} 
.block-products{
    flex-wrap: wrap;
}
.product{
    width: 315px;
    margin:  0 auto;
}
.text-block{
    width: 80px;
    height: 25px;
    background-color: #f2f2f2;
    color: #8b8b8b;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
}
.link-product{
    margin-top: 22px;
    height: 60px;
    a{
        font-size: 17px;
        line-height: 30px;
        color: #000000;
        &:hover{
            text-decoration: none;
        }
    }

}
.goots-tail-rating{
    width: 60%;
    display: inline-block;
    margin-top: 17px;
    .prod-reviews{
        margin-left: 5px;
        a{
            color: #9b9b9b;
            font-size: 13px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.goods-tile-availability{
    width: 35%;
    display: inline-block;
    font-size: 12px;
}
.icon-picture{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    .icon-center{
        margin-left: 8px;
    }
    
    img{
        margin-top: 25px;
    }
    .text-icon-picture{
        text-transform: uppercase;
        color: #9b9b9b;
        margin-top: 15px;
        font-size: 10px;

    }
}
.picture-prod{
    position: relative;
    width: 70%;
    height: 250px;
    img{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.goods-tile-picture{
    display: $display-flex;
}
.goods-tile-label{
    display:$display-flex;
    justify-content: center;
    height: 50px;
}
.lable-prod{
    position: relative;
}
.lable-prod-text{
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    top: 13px;
    left: 14px;
    width: 68px;
    text-align: center;
}
.goods-tile-price{
    display: $display-flex;
    justify-content: space-between;
}
.old-price{
    sub{
        text-decoration: line-through;
        color:#e00000;
        font-weight: 600;
        font-style: italic;
        .old-price-text{
            color:#989898;
        }
    }
    
}
.goods-tile-price{
    height: 26px;
    display: $display-flex;
    align-items: flex-end;
}
.new-price{
    sub{
      font-size: 30px;
      font-weight: 600;
      font-style: italic;
    }
    .font-size-new-price{
        font-weight: 600;
        font-style: italic;
    }

  }
  .goods-prod-button{
      position: relative;
      display: $display-flex;
     justify-content: center;
     margin-top: 25px;
     img{
         position: absolute;
         left: 79px;
         top: 12px;
         cursor: pointer;
     }
  }
  .prod-button{
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 210px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-image:linear-gradient(to right, #ff8600, #ff9000, #ff9a00, #ffa400, #ffad00);
    background-color: #0806068e;
    background-repeat: no-repeat;
    text-indent: 40px;
}
.product-actions{
    display: $display-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-compare{
        display: flex;
        align-items: center;
    a{
        margin-left: 10px;
        font-size: 14px;
        color: #000000;
        cursor: pointer;
        &:hover{
            text-decoration: none;
        }
    }
}
.product-favorites{
    display: flex;
    align-items: center;
    a{
        margin-left: 10px;
        font-size: 14px;
        color: #000000;
        cursor: pointer;
        &:hover{
            text-decoration: none;
        }
    }
}
.product-actions-item{
    width: 50%;
    display: inline-flex;
    height: 50px;
    align-items: center;
}
.position-block-favorite{
    display: $display-flex;
    justify-content: flex-end;
}
.el-icon{
    text-align: center;
    width: 50px;
    img{
        text-align: center;
    }
}
.line-text-product-cards{
    height: 2px;
    background-color: #ff8500;
    width: 100%;
    position: relative;
    border: none;
}
.new-price{
    color: #3b3b3b;
}




