@import"./mixins";
@import"./variables";
@import"./header.scss";
* {
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    display: $display-flex;
}
.container{
    width: 1360px;
    margin: 0 auto;
}
.product-top{
    display:$display-flex;
    justify-content: space-between;
    height: 80px;
    .product-cards{
        line-height: 80px;
        font-size: 35px;
    }
    .link-to-catalog{
        line-height: 80px;
        a{
            color: #000000;
            font-weight: 600;
            position: relative;
            right: 12px;
            img{
                margin-bottom: 3px;
            }
            &:hover{
                text-decoration: none;
            }
        }
        .arr-to-catalog{
            position: relative;
            left: 0px;
            top: -3px;
            
        }
        .first-el-to-catalog{
            position: relative;
            left: 4px;
            top: -4px;
            
            
        }
    }
}
.border-prod{
    border-top: 1px solid  $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    &:last-child{
        border-right: none;  
    }
} 
.block-products{
    flex-wrap: wrap;
}
.product{
    width: 315px;
    margin:  0 auto;
}
.text-block{
    width: 80px;
    height: 25px;
    background-color: #f2f2f2;
    color: #8b8b8b;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
}
.link-product{
    margin-top: 22px;
    height: 60px;
    a{
        font-size: 17px;
        line-height: 30px;
        color: #000000;
        &:hover{
            text-decoration: none;
        }
    }

}
.goods-tail-rating{
    width: 60%;
    display: inline-block;
    margin-top: 17px;
    .prod-reviews{
        margin-left: 5px;
        a{
            color: #9b9b9b;
            font-size: 13px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.goods-tile-availability{
    width: 35%;
    display: inline-block;
    font-size: 12px;
}
.icon-picture{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    .icon-center{
        margin-left: 8px;
    }
    
    img{
        margin-top: 20px;
    }
    .text-icon-picture{
        text-transform: uppercase;
        color: #9b9b9b;
        margin-top: 15px;
        font-size: 10px;

    }
}
.goods-tile-picture{
    position: relative;
    height: 215px;
    .product-picture{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

}
.goods-tile-label{
    display:$display-flex;
    justify-content: center;
    height: 50px;
}
.label-prod{
    position: relative;
}
.label-prod-text{
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    top: 13px;
    left: 14px;
    width: 68px;
    text-align: center;
}
.goods-tile-price{
    display: $display-flex;
    justify-content: space-between;
}
.old-price{
    sub{
        text-decoration: line-through;
        color:#e00000;
        font-weight: 600;
        font-style: italic;
        .old-price-text{
            color:#989898;
        }
    }
    
}
.goods-tile-price{
    height: 26px;
    display: $display-flex;
    align-items: flex-end;
}
.new-price{
    sub{
      font-size: 30px;
      font-weight: 600;
      font-style: italic;
    }
    .font-size-new-price{
        font-weight: 600;
        font-style: italic;
    }

  }
  .goods-prod-button{
      position: relative;
      display: $display-flex;
     justify-content: center;
     margin-top: 25px;
     img{
         position: absolute;
         left: 79px;
         top: 12px;
         cursor: pointer;
     }
  }
  .prod-button{
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 210px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(255,135,0,1) 0%, rgba(255,173,0,1) 100%);
    text-indent: 40px;
    &:hover{
        background: #d87700;
    }
}
.product-actions{
    display: $display-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-compare{
        display: flex;
        align-items: center;
    a{
        margin-left: 10px;
        font-size: 14px;
        color: #000000;
        cursor: pointer;
        &:hover{
            text-decoration: none;
        }
    }
}
.product-favorites{
    display: flex;
    align-items: center;
    a{
        margin-left: 10px;
        font-size: 14px;
        color: #000000;
        cursor: pointer;
        &:hover{
            text-decoration: none;
        }
    }
}
.product-actions-item{
    width: 50%;
    display: inline-flex;
    height: 50px;
    align-items: center;
}
.position-block-favorite{
    display: $display-flex;
    justify-content: flex-end;
}
.el-icon{
    text-align: center;
    width: 60px;
    img{
        text-align: center;
    }
}
.line-text-product-cards{
    height: 1px;
    background-color: #ff8500;
    width: 100%;
    position: relative;
    border: none;
}
.new-price{
    color: #3b3b3b;
}
footer{
    margin-top: 63px;
    background-color: $color-header-footer;
}
.block-text{
    font-size: 20px;
    color: #cbcbcb;
    margin-top: 37px;
    margin-bottom: -1px;
    margin-left: 20px;
    &:first-child{
        margin-left: 0px;
    }
}
.block-content{
    width: fit-content;
    border-top: 1px solid #7a7a7a;
    margin-bottom: 40px;
    .first-text{
        font-size: 20px;
        text-transform: uppercase;
        color: #cbcbcb;
        display: block;
        margin-top: 35px;
        font-weight: 600;
    }
    .second-text{
        font-size: 26px;
        text-transform: uppercase;
        color:#ffffff;
        display: block;
        margin-top: 15px;
        font-weight: 600;
    }
}
.block-subscription{
    margin-top: 20px;
    .email-field{
        width: 405px;
        height: 50px;
        border: none;
        outline: none;
        padding-right: 20px;
        text-indent: 30px;
        font-weight: 600;
        color: #d1d1d1;
    }
    .email-field-button{
        width: 170px;
        height: 50px;
        border: none;
        outline: none;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #ff8900;
        &:hover{
            background-color:#d67505;
        }
    }
    .email-field-footer{
        form{
            display: flex;
        }
        margin-top: 20px;
    }
}
.right-block-foter{
    display: $display-flex;
}
.width-line-long{
        width: 136px;
        border: none;
        height: 1px;
        background-color: #ff8500;
        margin-top: 18px;
        position: relative;  
}
.width-line-short{
        width: 59px;
        border: none;
        height: 1px;
        background-color: #ff8500;
        margin-top: 18px;
        position: relative;  
}
.nav-footer{
    width: 210px;
    border-top: 1px solid #7a7a7a ;
    margin-top: -1px;
    li{
        margin-bottom: 20px;
        a{
            color: #ffffff;
            font-size: 13px;
            text-decoration: none; border-bottom:2px solid #989898; 
            &:hover{
                text-decoration: none; border-bottom:0px solid #989898;
            }
        }
        &:first-child{
            margin-top: 30px;
           }

    }
  
}
.footer-border{
    border-bottom: 1px solid #7a7a7a;
}
.logo-footer{
    width: 220px;
    border-right: 1px solid #989898 ;
    margin-top: 30px;
    margin-bottom: 15px;
}
.flex,.social,.label-company,.link-form{
    display: flex;
}
.license{
    p{
        color: #91989f;
        margin-top: 43px;
        margin-left: 15px;
    }
}
.social-el{
    height: 50px;
    width: 50px;
    border: 1px solid #7b8092;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
    cursor: pointer;
    &:first-child{
        margin-left: 0px;
 }
 &:last-child{
    border: 1px solid #ffc925;
}
    
}
.social{
    margin-top: 25px;
   
}
.position-block{
    display: flex;
    justify-content: space-between;
}
.lable{
    width: 73px;
    height: 42px;
    border-right: 1px solid #989898 ;
    line-height: 42px;
}
.first-text-lable{
    font-size: 12px;
    color: #a0a9b2;
    margin-top: 5px;
}
.second-text-lable{
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
}
.label-company{
    margin-top: 30px;
}
.text-lable{
    margin-left: 18px;
}
.form-enter{
    width: 753px;
    height: 436px;
}
.modal-enter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
   background-color: rgba(0, 0, 0, 0.7);
}
.form-enter{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.container-enter-form{
    width: 300px;
    margin: 0 auto;
    .input-email,.input-password{
        margin-bottom: 20px;
        text-indent: 15px;
        outline: none;
        width: 300px;
        height: 40px;
        border: 1px solid #d2d2d2;
        line-height: 40px;
       
    }
    .input-password{
        &::-webkit-input-placeholder { 
            position: relative;
            top: 5px;
            font-size: 16px;
        }
    }
}
.headline-form{
    font-size: 24px;
    font-weight: bold;
    color: #3b3b3b;
    margin-top: 35px;
    margin-bottom: 35px;
}
.text-input{
    font-size: 14px;
    color: #2e2d2d;
    margin-bottom: 15px;
}
.remember-me{
    height: 15px;
    width: 15px;
    border: 1px solid #d2d2d2;
    outline: none;
    border-radius: 0px;

}
.remember-me{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.remember-chec:before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #d2d2d2;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;
}
.remember-chec{
    content: "";
    display: block;
    top: 10px;
    z-index: 2;
    position: relative;
    color: black;
    font-size: 14px;
    padding-left: 20px;
    padding: 1px 26px;
}
.remember-me:checked + .remember-chec:before{
    content: "x";
    text-align: center;
}
.link-form{
    margin-top: 28px;
    font-size: 14px;
    a{
        color: #2e2d2d;
        margin-bottom: 25px;
        &:last-child{
            margin-left: 20px;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
.button-form-enter{
    width: 210px;
    height: 50px;
    background-color: #afb9c6;
    outline: none;
    border: none;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    &:hover{
        background-color: #8c949e;
    }
}
.vl {
    width: 1px;
    background-color: #dbdbdb;
    height: 370px;
    position: absolute;
    left: 376px;
    bottom: 29px;
}
.form-enter-social{
    margin-top: 60px;
    li{
        width: 300px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin-top: 23px;
        a{
            width: 300px;
            height: 50px;
            display: block;
            position: relative;
            top: -50px;
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
            &:hover{
                background-color: rgba(27, 26, 26, 0.486);
            }
        }
    }
}
.social-first{
    background-color: #3b5998;
    img{
        position: relative;
        right: 45px;
    }
}
.social-second{
   background-color: #41abe1;
   img{
    position: relative;
    right: 37px;
}
}
.social-third{
   background-color:#ea4335;
   img{
    position: relative;
    right: 38px;
    top: 1px;
}
}
.close-modal-btn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -39px;
    right: -42px;
    cursor: pointer;
    z-index: 2;
    &:hover span{
        background-color: #ffffff;
    }
  span{
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #cdcdcd;
      &:first-child{
         transform: rotate(45deg);
          top: 50%;
      }
      &:nth-child(2){
        transform: rotate(-45deg);
        top: 50%;
    }
  }

}
.modal-enter{
    display: none;
}
.modal-enter-active{
    display: block;
}
.modal-call-back{
    display: none;
}
.modal-call-back-active{
    display: block;
}
.modal-call-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
   background-color: rgba(0, 0, 0, 0.7);
   form{
       width: 380px;
       height: 284px;
       background-color: #ffffff;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);
   }
}
.button-form-call-back-input-send{
    width: 210px;
    height: 50px;
    background-color:#ff8900;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        background-color: #d47000;
    }
}
.headline-form-call-back{
    font-size: 24px;
    color:#3b3b3b;
    margin-top: 35px;
    margin-bottom: 40px;
    font-weight: 600;
}
.frorm-call-back-text-input{
    font-size: 14px;
    color:#3b3b3b;
    font-weight: 600;
    margin-bottom: 15px;
}
.frorm-call-back-input-phone{
    width: 300px;
    height: 40px;
    border: 1px solid #d2d2d2;
    outline: none;
    margin-bottom: 30px;
    text-indent: 10px;
}
.btn-call-back-send{
    display: $display-flex;
    justify-content: center;
}







